* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-size: 20px;
  font-family: 'Droid Serif', Times, serif;
  line-height: 1.6;
  color: var(--color-text-dark)
}

h1,
h2,
h3,
h4,
h5,
h6 { 
  font-family:'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

.heading-xlarge {
  font-size: 25px;
  text-transform: uppercase;
}

.heading-large {
  margin-bottom: 24px;
  text-transform: uppercase;
  font-size: 30px;
  color: var(--color-brand-primary-base)
}

.heading-medium {
  margin-bottom: 24px;
  font-size: 26px;
  color: var(--color-interface-commom-dark);
}

.heading-xsmall {
  font-size: 16px;
}



/* "#" - IDs */
#about {}
#apps {}
#contact {}

/* Header style */
#banner {
  background-image: url(../images/bg-header.jpg);
  background-color: var(--color-text-dark);
  background-repeat: no-repeat;
  background-position: top;
}

.menu { 
  font-family: 'Open Sans', Helvetica, Arial, Sans-serif;
}

.menu-item {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

.menu-item a { 
  text-decoration: none;
  color: var(--color-interface-commom-light);
  transition: color 0.18s ease-in-out 0s;
}

.menu-item a:hover { 
  color: var(--color-brand-primary-base);
}




/*
/* Media Queries Examples
*/

/* Smartphone Portrait */
@media(min-width: 480px) and (max-width: 768px) {
  .my-class { 
    width: 300px;
  }
}

/* Tablets/ IPad Portrait */
@media(min-width: 768px) {}

/* Anything smaller than standard 960 */
@media only screen and (max-width: 959px)  {}

/* Bigger than standard 960 */
@media (min-width:960px) {}

/* Bigger than standard 1200 */
@media(min-width: 1200px) {}
