* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  line-height: 1.6;
  font-size: 20px;
  font-family: 'Droid Serif', Times, serif;
  color: var(--color-text-dark)
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 { 
  font-family:'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

.heading-xlarge {
  font-size: 25px;
  text-transform: uppercase;
}

.heading-large {
  margin-bottom: 24px;
  text-transform: uppercase;
  font-size: 30px;
  color: var(--color-brand-primary-base)
}

.heading-medium {
  margin-bottom: 24px;
  font-size: 26px;
  color: var(--color-interface-commom-dark);
}

.heading-xsmall {
  font-size: 16px;
}

/* "#" - IDs */
#about {}
#apps {}
#contact {}

/* Header style */
#banner {
  background-image: url(../images/bg-header.jpg);
  background-color: var(--color-text-dark);
  background-repeat: no-repeat;
  background-position: top;
}

.menu { 
  font-family: 'Open Sans', Helvetica, Arial, Sans-serif;
}

.menu-item {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

.menu-item a { 
  text-decoration: none;
  color: var(--color-interface-commom-light);
  transition: color 0.18s ease-in-out 0s;
}

.menu-item a:hover { 
  color: var(--color-brand-primary-base);
}

.container {
  width: 90vw;
  margin: 0 auto;
}

#banner {
  padding: 1.5rem 0;
}

#navigator {
  display: flex;
}

#logo,
#menu {
  width: 50vw;
}

#menu {
  text-align: right;
}

.all-workers {
  display: flex;
  justify-content: space-between;
}

.workers { 
  text-align: center;
}

.worker-name {
  margin-bottom: 0;
  line-height: 1.2;
  font-family: 'Open sans', Helvetica, Arial, Sans-serif;
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--color-interface-commom-dark);
}

.all-app-icon {
  display: flex;
  justify-content: space-between;
}

@media(max-width: 480px) {
  
  .menu {
    top: 0;
    left: -60vw;
    position: absolute;
    width: 60vw;
    height: 100vh;
    padding: 1rem;
    text-align: center;
    background-color: var(--color-text-dark);
    box-shadow: 1px 0px 7px rgba(0,0,0,.75);
  }

  .menu.open {
    left: 0;
  }

  .menu-item {
    padding-top: .8rem;
    padding-bottom: .8rem;
  }

  .container {
    width: 94vw;
  }

  .all-workers {
    flex-direction: column;
  }

  .workers {
    margin-bottom: 1.2rem;
  }
  .all-app-icon {
    flex-direction: column;
  }

  .app-icon {
    width: 50vw;
  }
}

@media(min-width: 992px) {
  .menu-button {
    display: none;
  }
}

@media(max-width: 1440px) {
  .container {
    width: 67vw;
  }

  .workers {
    width: 25vw;
  }
}

/*
/* Media Queries Examples
*/

/* Smartphone Portrait */
@media(min-width: 480px) and (max-width: 768px) {
  .my-class { 
    width: 300px;
  }
}

/* Tablets/ IPad Portrait */
@media(min-width: 768px) {}

/* Anything smaller than standard 960 */
@media only screen and (max-width: 959px)  {}

/* Bigger than standard 960 */
@media (min-width:960px) {}

/* Bigger than standard 1200 */
@media(min-width: 1200px) {}
